body{
	background-color: #f1f1f1;
}
.yxy-task{
	margin-left:200px;
}
.yxy-card{
	width:400px;
	border:1px solid black;
	position:relative;
	padding-bottom:5px;
	min-height:100px;
	background-color: grey;
}
/*#no1{
	display: none;
}*/
.yxy-taskName{
	float:left;
	width:40%;
	word-wrap:break-word;
	vertical-align:top;
}
.yxy-priority{
	float:right;
	width:40%;
	word-wrap:break-word;
	text-align:right;
}
.yxy-startTime{
	float:left;
	width:40%;
	word-wrap:break-word;
	vertical-align:bottom;
}
.yxy-endTime{
	float:right;
	width:40%;
	word-wrap:break-word;
	text-align:right;
}
.yxy-taskDescribe{
	display:inline-block;
	width:100%;
	word-wrap:break-word;
	vertical-align:top;
}
.yxy-contents{
	width:100%;
	margin-top:10px;
}
.yxy-time{
	color: blue;
	font-size: 0.5em;
}
